<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dept.filesite.mapper.RoleMapper">

    <insert id="insertUserRoles">
        insert into dept_role_user values
        <foreach collection="rids" item="rid" separator=",">
            (null,#{rid},#{uid})
        </foreach>
    </insert>

    <select id="listRoles" resultType="com.dept.filesite.entity.Role">
        select * from dept_role where id != 4 order by id asc
    </select>

    <select id="findRolesByUid" resultType="com.dept.filesite.entity.Role">
        select r.* from dept_role r, dept_role_user ru where r.id = ru.role_id and ru.user_id = #{uid} order by r.id asc
    </select>

    <delete id="deleteUserRoles">
        delete from dept_role_user
        <where>
            <if test="uid != null">
                and user_id = #{uid}
            </if>
            <if test="rids != null">
                and role_id in
                <foreach collection="rids" item="rid" open="(" close=")" separator=",">
                    #{rid}
                </foreach>
            </if>
        </where>

    </delete>


</mapper>